# Python virtual env
**/venv/
**/env/

# VSCode config files
**/.vscode/

# Idea config files
**/.idea/

# Build directories
**/[Cc]make-[Bb]uild-[Dd]ebug/
**/[Cc]make-[Bb]uild-[Rr]elease/
**/[Bb]uild[Dd]ir/
**/[Bb]uild/
**/[Dd]ebug/
**/[Rr]elease/
